.screen-container {
    width: calc(100% - 100px);
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 30px;
    background-color: #FFFFFF;
    opacity: 1;
    background: rgb(65,81,93);
    background: linear-gradient(90deg, rgba(65,81,93,1) 0%, rgba(52,140,162,1) 100%);
  }
  
  .flex {
    display: flex;
  }